@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-heebo: "Heebo", sans-serif;
}
/* Tema escuro */
.tema-claro {
  background-color: #ffffff;
}
.tema-escuro {
  background-color: #121212;
}
.tema-escuro-font {
  color: white;
}

.imagem-foto {
  display: flex;
}

.imagem-foto img {
  border-radius: 50%;
  max-width: 47%;
  background-color: #f05e5e;
}

.display-none {
  display: none !important;
}
